/**
    HOME
 */
.list.column {
    flex-direction: column;
}
.list.row {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    align-items: center;
}
.list.row div {
    width: 15%;
}
.list.row div:first-child {
    width: 40%;
}
.list.row div:not(:first-child) {
    text-align: center;
}
.list.row.title {
    text-align: center;
}
.row.product {
    box-sizing: border-box;
    margin-bottom: 16px;
}
.row.product:hover {
    box-shadow: 0 0 8px 0 #707070;
}
.row.product a {
    text-align: center;
    color: #fff;
    background-color: #585365;
    border-radius: 5px;
    padding: 6px 4px;
}
.row.product a:first-child {
    margin-right: 4px;
}
.row.product i {
    vertical-align: bottom;
}

/**
    CATEGORIAS
 */
.category-list {
    width: 50%;
    padding: 0 24px;
}
h2.list-title.admin-title {
    padding: 0;
    margin-bottom: 24px;
}
.category-list li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    cursor: pointer;
    line-height: 20px;
}
.category-list > li:hover, .category-list .child li:hover {
    background-color: #585365;
}
.category-list .parent {
    box-sizing: border-box;
    background-color: lightgray;
    padding: 8px 8px 8px 24px;
}
    .category-list .child {
        max-height: 0;
        overflow: hidden;
        box-sizing: border-box;
        transition: max-height 0.4s ease-out;
    }
    .category-list .child.active {
        max-height: 600px;
        transition: max-height 2s ease-out;
    }
    .child li {
        padding: 8px 8px 8px 32px;
    }
.editable {
    background-color: #fff;
}
.list form.edit {
    box-sizing: border-box;
    width: 50%;
    padding: 0 24px;
}
.btn-box {
     display: inline-block;
}
.btn-box i {
    vertical-align: bottom;
    color: #707070;
}
.btn-box i:hover {
    color: #3D3946;
}
.form-img {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.form-img div {
    border: 1px solid #585365;
    position: relative;
    cursor: pointer;
}
.form-img div:hover img {
    opacity: 0.5;
}
.form-img div label {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    color: #585365;
}
.form-img div .change {
    display: none;
}
.form-img div:hover .change {
    display: block;
}
.form-img input[type="file"]{
    display: none;
}
.edit-images {
    width: 50%;
    margin: auto;
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}


.link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
.edit.delete {
    margin: 0 auto;
}