.list.column {
    flex-direction: column;
}
.list.row {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    align-items: center;
}
.list.row div {
    width: 15%;
}
.list.row div:first-child {
    width: 40%;
}
.list.row div:not(:first-child) {
    text-align: center;
}
.list.row.title {
    text-align: center;
}
.row.product {
    box-sizing: border-box;
    margin-bottom: 16px;
}
.row.product:hover {
    box-shadow: 0 0 8px 0 #707070;
}
.row.product a {
    text-align: center;
    color: #fff;
    background-color: #585365;
    border-radius: 5px;
    padding: 6px 4px;
}
.row.product a:first-child {
    margin-right: 4px;
}
.row.product i {
    vertical-align: bottom;
}
