/************************************************
* Archivo global de estilos
*************************************************/
/**
    HEADER
 */
.info-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    border-bottom: 2px solid rgba(112, 112, 112, 0.20);
}
.info-bar .search-box {
    border-radius: 25px;
    border: 1px solid rgba(112, 112, 112, 0.31);
    margin: 0 0 0 30px;
    padding: 0 8px;
    vertical-align: middle;
    color: rgba(112, 112, 112, 0.31) !important;
}
    .search-box > input, .search-box > input:focus {
        border: none;
        outline: none;
        padding: 0 8px;
        background: transparent;
        height: 28px;
        width: 200px;
        vertical-align: middle;
        transition: width linear 0.3s;
        color: #707070;
    }
    .search-box > input:focus {
        width: 300px;
    }
    .search-box i {
        vertical-align: middle;
    }
.info-bar .user-box {
    position: relative;
    margin: 0 30px 0 auto;
    vertical-align: middle;
}
    .user-info > .dropdown {
        right: 0;
    }
    .user-box > .btn-light {
        margin-right: 16px;
    }
    .user-box .user-info {
        box-sizing: border-box;
        padding: 4px 8px;
        cursor: pointer;
    }
        .user-info > .user-info-wrapper {
            padding: 4px 8px;
        }
        .user-box .user-info div.user-circle {
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 1px solid #3D3946;
            border-radius: 50%;
            margin-right: 8px;
            vertical-align: middle;
            text-transform: uppercase;
            text-align: center;
            color: #FFF;
            line-height: 30px;
            background-color: #585365;
        }
        .user-box .user-info:hover {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
nav {
    height: 40px;
    border-bottom: 2px solid rgba(112, 112, 112, 0.20);
}
nav ul {
    list-style-type: none;
    height: 100%;
    display: inline-flex;
    align-items: center;
}
    nav > ul {
        flex-direction: row;
    }
        nav:before {content: ' '; margin-left: 30px; display: inline-block;}
        nav > ul a {
            font-weight: bold;
            text-decoration: none;
            color: #707070;
        }
        nav > ul > li {
            position: relative;
            padding: 8px 16px;
        }
            nav > ul > li > a:hover {
                color: #FF6F00;
            }
            nav > ul > li:hover .dropdown, .user-info:hover > .dropdown {display: block;}
            nav .dropdown, .user-info > .dropdown {
                display: none;
                position: absolute;
                background-color: #3D3946;
                width: 100%;
                min-width: max-content;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                z-index: 1;
            }
            .dropdown li:hover, .dropdown .dropdown-item:hover {
                background-color: #585365;
            }
            .dropdown > .dropdown-item a {
                display: block;
                padding: 8px 16px;
            }
            .dropdown a {
                color: #FFF;
            }
/**
    HOME
 */
h2.list-title {
    font-size: 1.4em;
    padding: 8px 30px;
}
h2.list-title:first-of-type {
    margin-top: 24px;
}
    h2 > i {
        vertical-align: middle;
        margin-right: 8px;
    }
.list {
    padding: 30px 30px 80px 30px;
    display: flex;
    /*justify-content: space-between;*/
}
main.list {
    min-height: calc(100vh - 110px);
    justify-content: flex-start;
}
    .list .item {
        position: relative;
        margin-right: 6.67%;
        width: 20%;
        height: 350px;
        box-shadow: 0 0 8px 0 rgba(112, 112, 112, 0.31);
    }
        .list .item:last-child {
            margin-right: 0;
        }
        .carousel {
            position: relative;
            height: 50%;
        }
            .carousel__track {
                display: flex;
                position: relative;
                overflow: hidden;
                height: 100%;
                list-style-type: none;
            }
            .carousel__slide {
                position: absolute;
                width: 100%;
                height: 100%;
                flex-shrink: 0;
                flex-basis: 100%;
                transition: all 0.2s linear;
            }
            .carousel__slide img {
                width: 100%;
                height: 100%;
            }
            .carousel__controls {
                position: absolute;
                top: 50%;
                margin-top: -7.5px;
                content: " ";
                display: inline-block;
                width: 15px;
                height: 15px;
                border-top: 3px solid #585365;
                border-right: 3px solid #585365;
                cursor: pointer;
                z-index: 3;
                opacity: 0.3;
                right: 12px;
                transform: rotate(45deg);
            }
            .carousel__controls.reverse {
                left: 12px;
                transform: rotate(-135deg);
            }
            .carousel__controls:hover {
                opacity: 1;
            }
        .item h3 {
            padding: 8px 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .rating-link {
            text-decoration: none;
            color: inherit;
        }
        .rating {
            display: inline-block;
            border: 1px solid #585365;
            border-radius: 25px;
            background-color: #585365;
            margin: 24px 8px 24px 16px;
            padding: 4px 16px;
            cursor: pointer;
        }
            .rating:hover {
                background-color: #3D3946;
            }
            .rating > * {
                vertical-align: text-top;
                color: #fff;
                font-size: 1.4em;
            }
            .rating > span {
                font-size: 1.2em;
                line-height: 1.2em;
            }
        .rating-link ~ a {
            text-decoration: none;
            font-size: 0.8em;
            color: rgba(112, 112, 112, 0.50);
        }
        .rating-link ~ a:hover {
            text-decoration: underline;
        }
        .look {
            position: absolute;
            width: 100%;
            padding: 16px;
            bottom: 0;
            text-align: right;
            box-sizing: border-box;
            border-top: 1.5px solid rgba(112, 112, 112, 0.20);
        }
        .look > a {
            color: inherit;
            font-size: 0.8em;
            font-weight: bold;
            cursor: pointer;
        }
        .look > a:hover {
            text-decoration: underline;
        }
/**
    LOGIN - REGISTRO
 */
div.main-box {
    display: flex;
    position: relative;
    min-height: calc(100vh - 110px);
    background-color: #3D3946;
}
div.main-box > div.wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
    width: 55%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border-radius: 10px;
}
div.main-box form {
    width: 60%;
    box-sizing: border-box;
    padding: 0 50px;
    border-radius: 10px 0 0 10px;
    }
    div.main-box h2.form-title {
        font-size: 1.6em;
        margin-bottom: 24px;
    }
    div.form-group {
        position: relative;
        margin-bottom: 32px;
    }
    div.form-group label {
        position: absolute;
        top: 4px;
        left: 8px;
        font-size: 12px;
        text-transform: uppercase;
        transition: all linear 0.2s;
    }
    div.form-group input, div.form-group select  {
        width: 100%;
        height: 25px;
        line-height: 20px;
        border: none;
        border-bottom: 1px solid #707070;
        outline: none;
    }
    div.form-group input[type="file"]  {
        border: none;
    }
    div.form-group textarea {
        width: 100%;
        max-width: 100%;
        min-height: 150px;
        border: 1px solid #707070
    }
    div.form-group select {
        border: 1px solid #707070;
        height: 30px;
    }
    div.form-group input:focus + label, div.form-group input:valid + label,
    div.form-group textarea:focus + label, div.form-group textarea:valid + label, .filled {
        top: -14px !important;
        left: 0 !important;
        font-size: 12px;
    }
    div.form-group input:-webkit-autofill + label {
        top: -14px !important;
        left: 0 !important;
        font-size: 12px;
    }
    div.main-box form > button.btn {
        width: 100%;
        padding: 12px 16px ;
    }
div.main-box > div.wrapper > div.aside-form {
    width: 40%;
    height: 100%;
    background-color: #585365;
    border-radius: 0 10px 10px 0;
    text-align: center;
}
    div.aside-form > p {
        margin-top: 50%;
        font-weight: 500;
        color: #fff;
        padding: 24px;
    }
    div.aside-form > a.btn-light {
        color: #fff;
    }
/**
    DETALLES PROD
 */
.img-list {
    display: flex;
    flex-direction: row;
    width: 45% !important;
}
    .mini {
        display: flex;
        flex-direction: column;
        width: 80px !important;
        padding: 0 56px 0 32px;
    }
    .mini img {
        padding: 0 0 8px 0;
        cursor: pointer;
    }
.prod-det {
    width: 55% !important;
}
    .prod-det > * {
        margin-bottom: 8px;
    }
    .points {
        position: relative;
        cursor: pointer;
    }
        .points > div {
            display: none;
            position: absolute;
            margin-left: 8px;
            padding: 8px;
            font-size: 0.7em;
            font-weight: 500;
            color: white;
            background-color: #585365;
        }
        .points > div:before {
            position: absolute;
            display: inline-block;
            left: -0.4em;
            top: 1.0em;
            content: ' ';
            width: 0.8em;
            height: 0.8em;
            border-left: 1px solid #585365;
            border-bottom: 1px solid #585365;
            background-color: #585365;
            transform: rotate(45deg);
        }
        .points:hover > div {
            display: inline-block;
        }
        .prod-info {
            box-sizing: border-box;
            height: 157px;
            padding: 8px;
        }
        .prod-info > p {
            white-space: pre-line;
            max-height: 80%;
            overflow: auto;
        }
        .prod-info > h4 {
            margin-bottom: 8px;
        }
        .prod-info > p::-webkit-scrollbar {
            width: 0.5em;
        }

        .prod-info > p::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        .prod-info > p::-webkit-scrollbar-thumb {
            background-color: #585365;
            outline: 1px solid slategrey;
        }

/**
    REVIEWS
 */
form.prod-info select {
    display: none;
}
.review {
    box-sizing: border-box;
    width: 100%;
    margin: 16px 0 0 0;
    padding: 16px 0 0 0;
    border-top: 1px solid #585365;
}
    .review > * {
        margin-bottom: 8px;
    }
    .review > p {
        margin-bottom: 8px;
    }
    .review div:last-child > span {
        font-size: 0.8em;
        color: #707070;
    }
.list-review {
    flex-wrap: wrap;
    padding-bottom: 16px;
}
.list-review .item {
    margin-bottom: 50px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 6.6%;
}
.list-review .item:nth-child(4n) {
    margin-right: 0;
}
/**
    FOOTER
 */
footer.footer {
    display: flex;
    height: 60px;
    background-color: #3D3946;
    padding: 20px 50px;
    align-items: center;
}
footer.footer p {
    margin: 0;
    color: #eeeeee;
}


/**
    MEDIA QUERIES
 */
@media (max-width: 762px) {
    body, html {
        width: 100vw;
    }
    nav {
        overflow: scroll;
    }
    nav:before {
        content: '';
        margin: 0;
        display: none;
    }
    .info-bar {
        flex-direction: column;
        padding: 8px 0;
    }
    .list {
        flex-direction: column;
    }
    .item {
        margin: 0 auto 32px auto !important;
        width: 90% !important;
    }
    .list form.edit {
        width: 100% !important;
    }
    div.main-box > div.wrapper {
        flex-direction: column;
        width: 90% !important;
    }
    div.main-box form {
        width: 100% !important;
        padding: 16px;
    }
    div.main-box > div.wrapper > div.aside-form {
        width: 100% !important;
        border-radius: 0 0 10px 10px;
    }
    div.aside-form > p {
        margin-top: 20%;
    }
    .list div.list.row.product, .list div.list.title.row {
        flex-direction: row;
    }
    .img-list {
        flex-direction: column;
    }
    .mini {
        flex-direction: row;
    }
}